.titleItem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  // color: #333;
    color: var(--text-color);

  border-radius: 8px;
  transition: background 0.2s ease;

 

  .icon {
    font-size: 25px;
    margin-right: 10px;
  }

  .label {
    font-size: 18px;
    font-weight: 600;
  }
}


